*.zip
*.obj
*.fbx
*.png
*.glb
*.jpg
*.zip
.env

app/database/generation_img/*
app/database/input_images/*
app/database/mask/*
app/database/maks_data/*
app/database/output_textures/*
app/database/workflows/*
app/database/glb_files/*
material.mtl
output.png:Zone.Identifier
